<html>
<body>
{% if rowcount %}
<h1> Data received so far </h1>
<table border="1">
{% for row in rows %}
  <tr>
  {% for cell in row.cols %}
    <td>{{ cell }}</td>
  {% endfor %}
  </tr>
{% endfor %}
</table>
{% endif %}
<br>

<div><a href="/csv?sep={{sep}}">Download as a CSV file</a></div>
<div><a href="/">refresh</a></div>

<br/>
<form name="csv_form" action="/" method="post">
<div>lines:&nbsp;<textarea name="lines" length="60" rows="3"></textarea></div>
<div>separator:&nbsp;<input type="text" size="1" name="sep" value="{{ sep }}"></input></div>
<div><input type="submit" value="send"></input></div>
</form>
</body>
</html>